<div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="display-3 text-center">All Products</h1>
        <table class="table table-striped table-bordered text-center">
          <thead class="thead-dark">
            <tr>
              <th translate>ID</th>
              <th translate>TITLE</th>
              <th translate>DESCRIPTION</th>
              <th translate>PRICE</th>
              <th translate>IMAGE URL</th>
              <th translate>QUANTITY</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td>{{ product.id }}</td>
              <td>{{ product.title | titlecase }}</td>
              <td>{{ product.description }}</td>
              <td>{{ product.price }}</td>
              <td><img src="{{ product.image }}" /></td>
              <td>{{ product.quantity }}</td>
              <td>
                <button class="btn btn-sm btn-outline-primary" (click)="editProduct(product.id)" translate>Edit</button>
                <button class="btn btn-sm btn-outline-danger" (click)="openDialog(product)" translate>Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="col-12 text-center">
          <button class="btn btn-lg btn-success" (click)="changeRoute()" translate>CREATE</button>
        </div>
      </div>
    </div>
  </div>